/* header */

.bg-dark{
    background-color: #343a40!important;
}

.navbar .navbar-brand img{
    width: 80px;
 }
 
#txtPlatzi{
    color: #97c93e;
}

/* header */

/* main */
.btnPlatzi{
    background-color: #97c93e;
    color: white;   
}


.container, .rowOverlay, .overlay, #carousel{
    height: 100%;
}
.carousel-inner{
    width: 100%;
    overflow: hidden;
    position: relative;
}

#carousel img {
    max-height:70vh;
    filter: grayscale(70%); /*filtro para que se opaquen las imagenes*/
  }

.overlay{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/* /main */

/* oradores */

.rowTitulo{
    display: block;
    text-transform: uppercase;
    text-align: center;
    padding: 20px;
   
}
.tituloChico{
    font-variant: small-caps;
}

.card-text{
    margin-top: 8px;
}

/* /oradores */

/* conociendo Honolulu */
.rowHonolulu .col-12, .col-6{
    padding: 0;
    background-color: #343a40;
}
.rowHonolulu img{
    width: 100%;
}
.descriptionHululu{
    color: white;
    padding: 8px 15px 15px; 
    font-weight: lighter;
font-size: 1.25em;
}

/* /conociendo Honolulu */


/* conviertete en orador */

/* /conviertete en orador */

/* footer */

footer{
    background: linear-gradient(90deg, #1c3643 0, #273b47 25%, #1e5372);
    padding: 24px 0;
}
footer a{
    color: white;
    text-decoration: none;
}

footer a:hover{
    color:white;
}
/* /footer */